@import '../../styles.scss';
header{
    padding: 1rem 2rem;
    border-bottom: 1px solid $light-color;
    .navbar{
        @extend %flex-shared;
        justify-content: flex-end;
        align-items: center;
        @extend %transition-shared;
        position: relative;
        animation: 1s top-to-bottom forwards ease-in-out;
        .navbar-right{
            @extend %flex-shared;
            li{
                position: relative;
                @extend %transition-shared;
                a{
                    padding: 0 1.5rem;
                    border-right: 2px solid $medium-color;
                    @extend %transition-shared;
                    &:hover{
                        color: $main-color;
                    }
                }
                &:last-child{
                    a{
                        border-right: none;
                    }
                }
                &:hover{
                    transform: translateY(-1rem);
                }
            }
        }
    }
}


@media(max-width: 768px){
    header{
        .navbar{
            justify-content: center;
            .navbar-right{
                li{
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
            .btn{
                font-size: 1.7rem;
                padding: .9rem 1.2rem;
            }
        }
    }    
}