<header>
    <nav class="navbar">
        <ul class="navbar-right">
            <li><a routerLink="/dashboard" class="current">Home</a></li>
            <li><a href="#" >About</a></li>
            <li><a href="#" >Shop</a></li>
            <li><a href="#" >Help</a></li>
        </ul>
        <!-- <a routerLink="/cart" class="btn"><i class="fa fa-shopping-cart"></i> Your Cart</a> -->
        <span class="selected-product-count">{{ selectedProductCount }}</span>
        <button class="btn btn-main" (click) = "switchCart()"><i class="fa fa-shopping-cart"></i> Your Cart</button>
    </nav>
</header>
