@import '../../styles.scss';

footer{
    .main-foooter{
        color: $medium-color;
        border-top: 1px solid $light-color;
        position: relative;
        @extend %transition-shared;
        animation: 1s bottom-to-top forwards ease-in-out;
       .footer-navbar, .footer-icons{
           @extend %flex-shared;
           justify-content: center;
           li{
                position: relative;
                @extend %transition-shared;
                
               a{
                   padding: 0 1rem;
                   border-right: 2px solid $medium-color ;
                   @extend %transition-shared;
                   &:hover{
                        color: $main-color;
                    }
               }
               &:last-child{
                   a{
                       border-right: none;
                   }
               }
               &:hover{
                    @include transform(translateY(-1rem));
                }
           }
       }
       .footer-icons{
           li{
               a{
                   border-right: none;
               }
               &:hover{
                    @include transform(scale(1.5));
                }
           }
       }
    }
}