<section class="products-section py-2">
    <div class="container">
        <div class="section-main-heading p-3">
            <h2 class="py-1">Product Listing</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo modi quaerat cum excepturi cumque veritatis?
            </p>
        </div>
        <div class="product-items">
            <div *ngFor = "let product of products" 
            class="item">
                <div class="image-box overlay">
                    <img src="{{ product.thumbnail }}" alt="item image">
                    <button (click)=alert() class="btn btn-main">Add To Cart</button>
                </div>
                <a routerLink="/product/{{ product.id }}" class="item-detail">
                    <h3 class="product-name">{{product.title}}</h3>
                    <div class="rating">
                        <a *ngFor="let number of [0,1,2,3,4], let i=index"
                        [ngClass]="{'fill':i<product.rating}" 
                        class="fa fa-star"></a>
                    </div>    
                    <p class="price">${{ product.price }}</p>        
                </a>
            </div>
        </div>
    </div>
</section>


