@import '../../../styles.scss';

.products-section{
    background-color: $lighter-color;
    .section-main-heading{
        text-align: center;
        width: 60%;
        margin: 0 auto;
        h2{
            font-size: 2rem;
            color: $dark-color;
        }
        p{
            color: $medium-color;
        }
    }
    .product-items{
        @extend %flex-shared;
        flex-wrap: wrap;
        .item{
            flex-basis: calc((100%/3) - 1rem);
            @extend %flex-shared;
            justify-content: center;
            margin-bottom: 2rem;
            padding: 1rem;
            @extend %transition-shared;
            .image-box{
                text-align: center;
                width: 150px;
                height: auto;
                margin-right: 1rem;
                position: relative;
                @extend %transition-shared;
                img{
                    width: 100%;
                    height: auto;       
                }
                &:hover{
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.5);
                        transition: .3s ease;
                    }
                    .btn-main{
                        z-index: 2;
                        opacity: 1;
                    }
                }
                .btn-main{
                    opacity: 0;
                    position: absolute;
                    padding: .2rem .5rem;
                    border: none;
                    cursor: pointer;
                    left: 20%;
                    bottom: 20%;
                    transition: .5s all ease-in-out;
                    &:hover{
                        background-color: $main-color;
                        box-shadow: 3px 2px 10px 5px $lighter-color;
                    }
                }
            }
            &-detail{
                .product-name{
                    color: $dark-color;
                    padding-bottom: .5rem;
                } 
                .price{
                    color: $dark-color;
                    font-size: 1.5rem;
                    padding-top: .5rem;
                }
                .rating{
                    a{
                        font-size: 1.7rem;
                        margin-right: .3rem;
                        color: $light-color;
                        transition: 0.3s all;
                    }
                    .fill{
                        color: $main-color;
                    }
                }
               
            }
            &:hover{
                box-shadow: 3px 2px 10px 5px $medium-color;
                background-color: white;
            }
        }
    }
}

@media(max-width: 768px){
    .products-section{
        .section-main-heading{
            width: 100%;
            h2{
                font-size: 2.7rem;
                padding-bottom: 1.5rem;
            }
            p{
                font-size: 1.8rem;
                line-height: 2rem;
            }
        }
        .product-items{
            @extend %flex-shared;
            justify-content: space-around;
            flex-wrap: wrap;
            .item{
                flex-basis: calc((100%/2) - 1rem);
                .image-box{
                    .btn-main{
                        padding: .5rem .8rem;
                        font-size: 1.3rem;
                        left: 6%;
                    }
                }
                &-detail{
                    .product-name{
                        font-size: 1.5rem;
                        padding-top: .3rem;
                    } 
                    .price{
                        font-size: 2rem;
                        padding-top: .7rem;
                    }                   
                }
            }
        }
    }
}

@media(max-width: 500px){
    .products-section{
        .section-main-heading{
            padding: 1rem 0;
            h2{
                font-size: 2rem;
                padding-bottom: 1.5rem;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }
        .product-items{
            flex-direction: column;
            .item{
                background-color: $white-color;
                box-shadow: 3px 2px 10px 5px $medium-color;
                border-radius: 5px;
                flex-basis: calc(100%);
                flex-direction: column;
                .image-box{
                    width: 100%;
                    height: auto;
                    margin-right: 0;
                    &:hover{
                        &:before{
                            content: none;
                        }
                    }
                    .btn-main{
                        opacity: 1;
                        left: 25%;
                        bottom: 5%;
                        background-color: $main-color;
                        box-shadow: 3px 2px 10px 5px $lighter-color;
                    }
                }
                &-detail{
                    .price{
                        font-size: 1.7rem;
                        padding-top: .7rem;
                    }                   
                }
            }
        }
    }
}