<section class="summary">
    <h2 class="section-heading py-1">Summary</h2>
    <div class="items"
    [ngClass] = "{ 'items-none': currentTab == 0 }">
        <div class="item my-1">
            <div class="product-image">
                <img src="../../../assets/images/products/Lipsticsk-11.png" alt="product image">
            </div>
            <div class="detail">
                <h3 class="product-name">Product Name</h3>
                <p class="price">$300</p>
            </div>
        </div>
    </div>
    <div class="coupen"
    [ngClass] = "{ 'items-none': currentTab == 1 }">
        <p>ENTER COUPON CODE</p>
    </div>
    <div class="voucher"
    [ngClass] = "{ 'items-none': currentTab == 0 }">
        <form action="" class="form">
            <select class="model-box" id="voucher" name="voucher">
                <option class="option" value="1">No voucher available</option>
                <option class="option" value="1">15% Discount</option>
            </select>
        </form>
    </div>
    <div class="calculation">
        <div class="sub-total">
            <p>SUBTOTAL</p>
            <p>$600</p>
        </div>
        <div class="shipping">
            <p>SHIPPING</p>
            <p>free</p>
        </div>
        <div class="taxes">
            <p>TAXES</p>
            <p>$13</p>
        </div>
        <div class="total">
            <p>TOTAL</p>
            <p>$613</p>
        </div>
    </div>
</section>
