@import '../../../styles.scss';

.summary{
    .section-heading{
        color: $dark-color;
    }
    .items{
        border-bottom: 1px solid $light-color;
        max-height: 350px;
        overflow-y: scroll;
        .item{
            @extend %flex-shared;
            justify-content: flex-start;
            padding-left: 1rem;
            @extend %transition-shared;
            .product-image{
                width: 20%;
                height: 10%;
                margin-right: 2rem;
                margin-top: .5rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .detail{
                width: 60%;
                .product-name{
                    color: $dark-color;
                    padding-top: .5rem;
                }
                .price{
                    color: $medium-color;
                    font-size: 1.5rem;
                }
            }

            &:hover{
                box-shadow: 3px 2px 8px 5px $light-color;
            }
        }
    }
    .coupen{
        input[type='text']{
            width: 100%;
            padding: .5rem 0;
            border: none;
            outline: none;
            color: $dark-color;
        }


    }
    .voucher{
        border-bottom: 1px solid $light-color;
        input[type='text']{
            width: 100%;
            padding: .5rem 0;
            border: none;
            outline: none;
            color: $dark-color;
        }
    }
    .calculation{
        .sub-total, .shipping, .taxes, .discount, .total{
            @extend %flex-shared;
            color: $medium-color;
            padding-top: .2rem;
        }
        .discount{
            padding-bottom: .5rem;
        }
        .total{
            padding-top: .5rem;
            font-weight: bold;
            p{
                &:last-child{
                    color: $dark-color;
                }
            }
        }
    }

    .items-none{
        display: none;
    }
}


@media(max-width: 500px){
    .summary{
        .items{
            overflow: scroll;
            height: 120px;
        }
    }
    
}


@media (min-width: 360px) and (max-width: 414px){
    .summary{
        .items{
            overflow: unset;
            height: unset;
        }
    }
}