<section class="summary">
    <h2 class="section-heading py-1 border-bottom">Summary</h2>
    <div class="items"
    [ngClass] = "{ 'display-none': currentTab == 0 }">
        <div class="item my-1"
            *ngFor="let cartDetail of summaryData['cartDetails']">
            <div class="product-image">
                <img src="{{ cartDetail.thumbnail }}" alt="product image">
            </div>
            <div class="detail">
                <h3 class="product-name">{{ cartDetail.title }}</h3>
                <p class="price">${{ cartDetail.price }}</p>
                <p class="pcs">{{ cartDetail.quantity }} pcs</p>
            </div>
        </div>
    </div>
    <div class="coupen border-bottom"
    [ngClass] = "{ 'display-none': currentTab == 1 }">
        <input type="text" placeholder="ENTER COUPON CODE" name="couponCode" 
        [(value)]="couponValue" (change) = couponCode($event)>
        <small class="error" *ngIf="coupon.error != null || couponValue == ' '">{{coupon.error}}</small>
    </div>
    <div class="voucher"
    [ngClass] = "{ 'display-none': currentTab == 0 || summaryData.cash.discount > 0 && couponValue != ' ' && coupon.error != ' '  }">  
        <input type="text" placeholder="Have A VOUCHER" name="voucher" 
        [(value)]="voucherValue" (change) = voucher($event)>
        <small class="error" *ngIf="voucherError.error != null">{{voucherError.error}}</small>
    </div>
    <div class="calculation">
        <div class="sub-total">
            <p>SUBTOTAL</p>
            <p>${{summaryData.cash.subTotal}}</p>
        </div>
        <div class="shipping">
            <p>SHIPPING</p>
            <p *ngIf="summaryData.cash.shipping > 0; else shippingFree">${{summaryData.cash.shipping}}</p>
            <ng-template #shippingFree>
                <p>Free</p>
            </ng-template>
        </div>
        <div class="taxes">
            <p>TAXES</p>
            <p>${{summaryData.cash.taxes}}</p>
        </div>
        <div [ngClass] = "{ 'display-none': summaryData.cash.discount == 0 }">
            <div  class="discount">
                <p>DISCOUNT</p>
                <p>${{summaryData.cash.discount}}</p>
                <!-- <ng-template #voucher>
                    <p>${{summaryData.cash.}}</p>
                </ng-template> -->
            </div>
        </div>
        <div class="total border-top">
            <p>TOTAL</p>
            <p>${{summaryData.cash.total}}</p>
        </div>
    </div>
</section>
