<section class="cart-process py-2">
    <div class="container">
        <ul class="cart-progress">
            <li *ngFor="let process of cartProcess; let i = index" (click) = "onTabClick(i)"
            [ngClass]="{'activeCart': i == currentTab}">{{ process.index }}. {{ process.tabName }}</li>
        </ul>
    </div>
</section>
<div class="container main-section">
    <div class="content left-content">
        <router-outlet></router-outlet>
    </div>
    <div class="content right-content">
        <app-summary [currentTab] = "currentTab"></app-summary>
    </div>
</div>
<!-- <ng-content> -->
    <!-- <app-shopping-cart></app-shopping-cart> -->
<!-- </ng-content> -->

