<section class="cart-process py-2">
    <div class="container">
        <ul class="cart-progress">
            <li *ngFor="let process of cartProcess; let i = index"
            [ngClass]="{'activeCart': i == currentTab}">{{ process.index }}. {{ process.tabName }}</li>
        </ul>
    </div>
</section>
<div class="container main-section">
    <div class="content left-content">
        <router-outlet></router-outlet>
    </div>
    <div class="content right-content">
        <app-summary [currentTab] = "currentTab"></app-summary>
    </div>
</div>
<!-- <div class="buttons">
    <div class="container">
        <button class="btn btn-next" (click) = switch(currentTab+1)>Next</button>
        <button class="btn btn-cancel">Cancel</button>
    </div>
</div> -->

