@import '../../styles.scss';

.cart-process{
    position: sticky;
    background-color: $lighter-color;
    top: 2rem;
    z-index: 3;
    width: 100%;
    .cart-progress{
        @extend %flex-shared;
        justify-content: center;
        align-items: center;
        li{
            padding: 1.5rem 2.5rem;
            font-size: 1.5rem;
            color: $dark-color;
            border-bottom: 1px solid $light-color;
        }
        .activeCart{
            color: $main-color;
            border-bottom: 2px solid $main-color;
        }
    }
}
.main-section{
    @extend %flex-shared;
    .left-content{
        width: 65%;
    }
    .right-content{
        width: 35%;
        margin-bottom: 3rem;
    }
}
.buttons{
    margin: 1rem 0; 
     .btn{
        border: none;
        margin-right: 1rem;
        padding: .5rem 2rem;
        cursor: pointer;
    }
    .btn-next{
        background-color: $dark-color;
        color: $white-color;
        &:hover:enabled{
            background-color: $main-color;
        }
        &:disabled {
            background-color: darkgray;
            opacity: .5;
        }
    }
    .btn-cancel{
        background-color: $light-color;
        color: $dark-color;
        &:hover{
            background-color: red;
            color: $white-color;
        }
    }
    .btn-prev{
        background-color: $light-color;
        color: $dark-color;
        &:hover{
            background-color: $main-color;
            color: $white-color;
        }
    }
}

.span-block{
    color: red;
}

@media(max-width: 500px){
    .cart-process{
        position: unset;
        background-color: $lighter-color;
        top: unset;
        z-index: unset;
        width: 100%;
        .cart-progress{
            flex-direction: column;
        }
    } 
    .main-section{
        @extend %flex-shared;
        flex-direction: column;
        margin-bottom: 3rem;
        // padding-bottom: 3rem;
        .left-content{
            width: 100%;
        }
        .right-content{
            width: 100%;
        }
    }

    .buttons{
        position: absolute;
        margin: 1rem 0; 
        text-align: center;
        bottom: -170%;
        .btn{
            border: none;
            margin-right: .5rem;
            padding: .5rem 2rem;
            cursor: pointer;
            margin-bottom: 1rem;
        }
        .btn-next{
            background-color: $dark-color;
            color: $white-color;
            &:hover{
                background-color: $main-color;
            }
        }
        .btn-cancel{
            background-color: $light-color;
            color: $dark-color;
            &:hover{
                background-color: red;
                color: $white-color;
            }
        }
    } 
    button[type='submit']{
        background-color: red;
        &:disabled{
            background-color: rgb(104, 103, 103);
        }
    }
      
}

@media(max-width: 768px){
    .cart-process{
        background-color: $lighter-color;
        .cart-progress{
            @extend %flex-shared;
            justify-content: center;
            align-items: center;
            li{
                padding: 1.5rem 2rem;
                font-size: 1.49rem;
                color: $dark-color;
                border-bottom: 1px solid $light-color;
            }
            .activeCart{
                color: $main-color;
                border-bottom: 2px solid $main-color;
            }
        }
    }   
}