<section class="cart-process py-2">
    <div class="container">
        <ul class="cart-progress">
            <li class="activeCart">1. Shopping Cart</li>
            <li>2. Shipping Details</li>
            <li>3. Payment Options</li>
        </ul>
    </div>
</section>
<div class="container main-section">
    <div class="content left-content">
        <app-shopping-cart></app-shopping-cart>
    </div>
    <div class="content right-content">
        <app-summary></app-summary>
    </div>
</div>
