<section class="shopping-cart px-1">
    <h2 class="section-heading py-1">Shopping Cart</h2>
    <div class="items">
        <div class="item" *ngFor="let cartProduct of cartDetails">
            <span class="close" (click) = "removeFromCart(cartProduct.id)"><i class="fa fa-window-close" aria-hidden="true"></i></span>
            <div class="product-image">
                <img src="{{ cartProduct.thumbnail }}" alt="product image">
            </div>
            <div class="product-detail">
                <h3 class="product-heading">{{ cartProduct.title }}</h3>
                <p class="desc">
                    {{ cartProduct.description | slice:0:60 }}...
                </p>
                <p class="price">${{ cartProduct.price }}</p>
            </div>
            <div class="item-count">
                <form action="" class="form">
                    <select class="model-box" id="color" name="color"
                     [(ngModel)]="cartProduct.model_id" (change)="onChangeModel(cartProduct)">
                        <option class="option" 
                            *ngFor="let model of cartProduct.models"       
                        value={{model.id}}>{{ model.text }}</option>
                    </select>
                    
                    <div class="pcs">
                        <input type="number" min="1" max="10" name="pcs" id="pcs"
                            [(ngModel)]="cartProduct.quantity" 
                            value="{{ cartProduct.quantity }}" 
                            (change)="onChangeQuantity()">
                        <span class="text">Pcs</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="container">
            <button class="btn btn-next" (click) = switch()>Next</button>
            <button class="btn btn-cancel">Cancel</button>
        </div>
    </div>
    
</section>