<section class="payment-mothed px-1">
    <h2 class=" section-heading py-1">payment-mothed</h2>
    <div class="payment-option">
        <form action="">
            <div class="card-option">
                <div class="radio-text">
                    <input type="radio" name="payment" value="card">
                    <div class="text">
                        <h3>Credit Card</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, iusto?</p>
                    </div>
                </div>
                <div class="card-detail">
                    <div class="cardno">
                        <input type="text" name="cardno" placeholder="0000 0000 0000 0000">
                    </div>
                    <input type="text" name="expiry" placeholder="MM/YY">
                    <div class="cw">
                        <input type="text" name="cw" placeholder="CW">
                    </div>
                </div>
                <input type="text" name="hname" placeholder="Card Holder Name">
            </div>
            <div class="online-option">
                <div class="radio-text">
                    <input type="radio" name="payment" value="paypal">
                    <div class="text">
                        <h3>Paypal</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, iusto?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, iusto?
                        </p>
                    </div>
                    <div class="logo-image">
                        <img src="../../../assets/images/paypal.png" alt="logo image">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
