<section class="payment-mothed px-1">
    <h2 class=" section-heading py-1">payment-method</h2>
    <div class="payment-option">
        <form action="" (ngSubmit) = switchPayNow()
        #f = "ngForm">
            <div class="card-option" id="user-data" ngModelGroup = "userData" #userData = "ngModelGroup">
                <div class="radio-text">
                    <input type="radio" name="payment" value="card" [(ngModel)]="payment.selected">
                    <div class="text">
                        <h3>Credit Card</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, iusto?</p>
                    </div>
                </div>
                <div class="card-detail">
                    <div class="cardno">
                        <input type="text" name="cardno" placeholder="0000 0000 0000 0000"
                        [(ngModel)]="payment.card.cardno"
                        pattern="[0-9]*" 
                        maxlength="16"
                        minlength="16"
                        [disabled]="payment.selected != 'card'" #cardno = "ngModel" required>
                        <small class="error" *ngIf="!cardno.valid && cardno.touched">
                            Please enter correct card number *!!
                        </small>
                    </div>
                    <div class="expiry-div">
                        <input type="text" name="expiry" placeholder="MM/YY"
                            [(ngModel)]="payment.card.expiry"
                            pattern="^(0[1-9]|1[0-2]|[1-9])\/(1[4-9]|[2-9][0-9]|20[1-9][1-9])$"
                            [disabled]="payment.selected != 'card'" #expiry="ngModel" required>
                        <small class="error" *ngIf="!expiry.valid && expiry.touched">
                            Please Fill correct expiry date *!!
                        </small>
                    </div>
                    <div class="cw">
                        <input type="text" name="cvv" placeholder="CVV"
                        pattern="[0-9]*" 
                        maxlength="3"
                        minlength="3"
                        [(ngModel)]="payment.card.cvv"
                        [disabled]="payment.selected != 'card'" #cvv = "ngModel" required>
                        <i class="fa fa-info-circle info-icon" aria-hidden="true">
                        </i>
                        <span class="tooltip">Example: 123</span>
                        <small class="error" *ngIf="!cvv.valid && cvv.touched">
                            Please Fill correct cvv *!!
                        </small>
                    </div>
                </div>
                <div class="holder-name">
                    <input type="text" name="hname" placeholder="Card Holder Name"
                        [(ngModel)]="payment.card.hname"
                        pattern="[a-zA-Z ]*"
                        [disabled]="payment.selected != 'card'" #hname = "ngModel" required>
                    <span class="error" *ngIf="!hname.valid && hname.touched">
                        Please Fill holder name *!!
                    </span>
                </div>
            </div>
            <div class="online-option">
                <div class="radio-text">
                    <input type="radio" name="payment" value="paypal"  [(ngModel)]="payment.selected">
                    <div class="text">
                        <h3>Paypal</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, iusto?
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, iusto?
                        </p>
                    </div>
                    <div class="logo-image">
                        <img src="../../../assets/images/paypal.png" alt="logo image">
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="container">
                    <button class="btn btn-prev" (click) = switchPre()>Previous</button>
                    <button class="btn btn-next" type="submit" [disabled] = "!f.valid">PayNow</button>
                    <button class="btn btn-cancel">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>
