<section class="order-placed">
    <div class="container">
        <div class="section-content">
            <h2 class="py-1">Your Order has been placed</h2>
            <p class="py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo beatae culpa obcaecati laudantium reprehenderit quod eaque, distinctio quae? Eveniet sequi doloribus, totam perferendis at recusandae explicabo impedit labore voluptates optio?
            </p>
            <div class="btn-div">
                <a routerLink="/dashboard" class="btn btn-main">Continue Shopping</a>
            </div>
        </div>
    </div>
</section>
<div class="overlay"
    [ngClass]="{'overlay-none':isOrderPlaced}">
    <div class="text">
        <h2 [ngClass]="{ 'loader-spiner-none' : !isRedirecting }">Redirecting To Merchant</h2>
        <div class="loader" [ngClass]="{ 'loader-spiner-none' : !isRedirecting }"></div>
        <button class="payment-btn " 
        [ngClass]="{ 'payment-btn-none' : isRedirecting }">
            <i class="fa fa-check-circle"></i>
            <br><br>
            Payment Sucessfully
        </button>
    </div>
</div>
<!-- overlay-none -->
<!-- loader-spiner-none -->