<section class="description py-2">
    <div class="container">
      <div class="product-description">
            <div class="image-gallery p-1">
                <div class="main-image">
                    <img src="{{ currentProductModel['selected'] }}" alt="thumbnail image">
                </div>
                <div class="multiple-image">
                    <a *ngFor="let image of currentProductModel['images']"
                    (mouseover) = "onChangeImageBox(image)"
                    class="multiple-inner-img">
                        <img src="{{ image }}" alt="short image">
                    </a>
                </div>
            </div>
            <div class="product-content p-1">
                <div class="product-heading">
                    <h3 class="product-name">{{ product['title'] }}</h3>
                    <div class="rating-review py-1">
                        <div class="rating">
                            <a *ngFor="let number of [0,1,2,3,4], let i=index"
                            [ngClass]="{'fill':i< product['rating'] }" 
                            class="fa fa-star"></a>
                        </div>    
                        <p class="review">{{ product['reviewCount'] }} Reviews</p>
                    </div>
                </div> 
                <div class="price-model-box py-1">
                    <p class="price">${{ product['price'] }}</p>
                    <form action="" class="form">
                        <select class="model-box" id="color" name="color"  (change)="onChangeModelId($event.target.value)">
                            <option class="option" *ngFor="let model of product['models']"
                            value="{{ model.id }}">{{ model.text }}</option>
                        </select>
                    </form>
                </div>
                <div class="description py-1">
                    <p class="desc">{{ product['description'] }}
                   </p>
                </div>  
                <div class="btn-div">
                    <button 
                    (click)="addProductToCart(product['id'], 1)"
                    class="btn main-btn">
                        Add To Cart
                    </button>
                </div>
            </div>
      </div>  
    </div>
</section>
