@import '../../../styles.scss';
@import '../view-cart.component.scss';
.shippping-details{
    // border-bottom: 1px solid $light-color;
    margin-bottom: 8rem;
    .section-heading{
        color: $dark-color;
        border-bottom: 1px solid $light-color;
        margin-bottom: 1rem;
    }
    .details{
        .form-detail{
            #user-data{
                p{
                    color: red;
                    padding-bottom: .5rem;
                }
                .form-input{
                    @extend %flex-shared;
                    margin-right: 1rem;
                    .form-group{
                        // background-color: $light-color;
                        margin-bottom: 1rem;
                        flex-basis: calc((100%/2) - 1rem);
                        input, select{
                            width: 100%;
                            height: 40px;
                            outline: none;
                            color: $dark-color;
                            padding-left: 5px;
                            &:focus{
                                outline: none !important;
                                border:1px solid $dark-color;
                            }
                        }
                        select{
                            background-color: transparent;
                            color: $dark-color;
                        }
                        input{
                            &::placeholder{
                                color: $medium-color;
                            }
                        }
                    }
                }

                .group-add{
                    // background-color: red;
                    width: 100%;
                    padding-right: 1rem;
                    margin-bottom: 1rem;
                    input{
                        width: 100%;
                        height: 40px;
                        padding-left: 5px;
                        color: $dark-color;
                        outline: none;
                        &:focus{
                            outline: none !important;
                            border:1px solid $dark-color;
                        }
                        &::placeholder{
                            color: $medium-color;
                        }
                    }
                }
            }
            .radio-form{
                margin-right: 1rem;
                border: 1px solid $light-color;
                border-left: none;
                border-right: none;
                padding: 1rem 0;
                @extend %flex-shared;
                .radio-box{
                    flex-basis: calc((100%/2) - 1rem);
                    border: 1px solid $light-color;
                    padding: 2.5rem;
                    position: relative;
                    // height: 40px;
                    input,label{
                        position: absolute;
                        top: 25%;
                        left: 15%;
                        display: block;
                    }
                    input{
                        top: 35%;
                        z-index: 2;
                    }
                    label{
                        width: 100%;
                        padding: 5% 23%;
                        top: 0;
                        left: 0;
                        color: $medium-color;
                        span{
                            display: block;
                        }
                    }
                    input:checked + label{
                        background-color: $medium-color;
                        color: $dark-color;
                    }
                }
            }
        }
    }
} 
// input.ng-invalid, select.ng-invalid{
//     border:1px solid red;
// }

@media (max-width: 500px){
    .shippping-details{
        overflow: scroll;
        max-height: 600px;
        margin-bottom: 2rem;
        .details{
            .form-detail{
                .form-input{
                    // @extend %flex-shared;
                    flex-direction: column;
                    input[type='text'], select{
                        border: 1px solid $dark-color;
                    }
                }
                .radio-form{
                    margin-right: 0;
                    @extend %flex-shared;
                    flex-direction: column;
                    .radio-box{
                        flex-basis:100%;
                        margin-bottom: 1rem;
                        label{
                            width: 100%;
                            padding: 5% 0 8.5% 23%;
                        }
                    }
                }
            }
        }
    }        
}

@media (max-width: 768px){
    .shippping-details{
        margin-bottom: 2rem;
        .details{
            .form-detail{
                .form-input{
                    input[type='text'], select{
                        border: 1px solid $dark-color;
                    }
                }
                .radio-form{
                    margin-right: 1rem;
                    .radio-box{
                        flex-basis:calc((100%/2) - .5rem);
                        margin-bottom: 1rem;
                        input{
                            left: 5%;
                        }
                        label{
                            width: 100%;
                            padding: 8% 0 7% 18%;
                        }
                        &:first-child{
                            input{
                                left: 5%;
                            }
                            label{
                                padding: 7% .5% 7% 13%;
                            }
                        }
                    }
                }
            }
        }
    }        
}

@media (min-width: 360px) and (max-width: 414px){
    .shippping-details{
        overflow: unset;
        max-height:unset;
    }
    .buttons{
        position: relative;
        // top: 0;
        bottom: 0;
    }
}
